<div class="jumbotron center">
<h1>What is mighty wine thing?</h1>
<h2>And what it does it do?
<p></p>
<p>Well, there is no simple answer to that. It is a very special mix of technology and alcohol. </p>
<p></p>
<p>Carefully curated by that seal. </p>
<p>
<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
</p>
</div>
